html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    background-color: #fff;
    color: #000;
}
body.dark {
    background-color: #000;
    color: #fff;
}
body.dark .date {
    color: #ccc;
}
.dark_mode {
    position: absolute;
    right: 15px;
    top: 5px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.cert > li {
    list-style: inside;
}
h1, h2, h3, h4 {
    margin-bottom: 5px;
}
h1, h2 {
    color: #fff;
}
h2 {
    margin-top: 0;
    padding-bottom: 20px;
}
.wrapper b {
    display: inline-block;
    width: 250px;
}
.header {
    background-color: #f00;
    margin-bottom: 40px;
    position: relative;
}
h3.exp i {
    font-size: 75%;
}
.date {
    font-size: 16px;
    font-style: italic;
    padding-bottom: 5px;
}
footer {
    padding: 20px 0;
    margin-top: 50px;
    background-color: #f00;
}